body{
  background-color:lightblue;
}
.search-bar{
  margin-left: 20px;
  margin-bottom: 8px;
  font-size: 17px;
  width: 300px;
  padding-left: 30px;
  height: 25px;
  border-radius: 15px;
  border-style: solid;
  font-family:arial;
}
.big-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  cursor: pointer;
}
.profil-title-div{
  display: flex;
  
  margin-top: 8px;
}

.thumbnail{
  width: 300px;
  height: 170px;

}
.time-video{
  padding: 4px;
  font-family: arial;
  position: absolute;
  right: 5px;
  bottom: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.849);
}
.profile-channel{
  width: 50px;
  border-radius: 25px;
  position: relative;
}

.title-video{
  width: 240px;
  margin-bottom: 15px;
  font-family: arial;
  font-weight: bold;
  margin-bottom: 12px;
  
}
.titlt-name-views  div
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}
.name-views{
  margin-bottom: 5px;
  font-family: arial;
  color: rgb(55, 5, 83);
  font-weight: bold;
  font-size: 14px;
}
.div-hover-profile{
  
  position: absolute;
  width: 250px;
  background-color: white;
  display: flex;
  font-family: arial;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  bottom: -55px;
  left: 50px;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
 
}

.div-hover-test{
  position: relative;
  height: 50px;
  width: 50px;
}
.profile-channel2{
  width: 50px;
  border-radius: 25px;
}
.div-hover-test:hover  .div-hover-profile{
  opacity: 1;
  transition: 0.4s;
}



